######################################
# Application
######################################

APP_NAME=Quran Bot
ENVIRONMENT=development
DEBUG=False
LOG_LEVEL=INFO
DEFAULT_TIMEZONE=Asia/Tehran

######################################
# Telegram
######################################

BOT_TOKEN=
BOT_USERNAME=
BOT_API=https://api.telegram.org

BOT_CONNECT_TIMEOUT=20
BOT_READ_TIMEOUT=60
BOT_WRITE_TIMEOUT=60
BOT_POOL_TIMEOUT=30

######################################
# PostgreSQL
######################################

DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/quran_bot

######################################
# Redis
######################################

REDIS_URL=redis://redis:6379/0
CACHE_DEFAULT_TTL=3600

######################################
# Natiq API
######################################

NATIQ_PRIMARY_API=https://api.natiq.net/api
NATIQ_SECONDARY_API=https://api.natiq.ir/api
NATIQ_API_TOKEN=

######################################
# Features
######################################

ENABLE_SEARCH=True
ENABLE_FAVORITES=True
ENABLE_DAILY_AYAH=True
ENABLE_ADMIN=True
